$surface: #FFFFFF;
$background: grey;
$accent: #F58420;
$accent-hover: #FFA14F;
$accent-click: #E86D00;
$dark: #333333;
$gray-light: #F5F5F5;
$gray: #696969;
$gray-dark: #888888;
$red: #D45353;
$green: #33B667;

// media
$xl: '1919px';
$lz: '1439px';
$lg: '1335px';
$md: '1024px';
$xs: '767px';