*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  min-height: 100%;
  position: relative;
  font-family: "Graphik", "Courier New", Courier, monospace;
  font-size: 16px;
  background: $gray;
  max-width: 100vw;
  overflow-x: hidden;
}

body > main {
  @apply min-h-screen w-screen pt-8 pl-6 pb-10 pr-3 z-10 relative;
}

@media (min-width: 1023px) {
  html,
  body {
    max-height: 100vh;
  }
}

main {
  & > *:not(iframe) {
    z-index: 5;
  }
  & > iframe {
    z-index: -1;
  }
}

.hidden {
  display: none;
}

.hide {
  opacity: 0;
  z-index: -9999 !important;
  pointer-events: none !important;
}

.reflect {
  transform: scale(-1, 1);
  &--after::after,
  &--before::before {
    transform: scale(-1, 1);
  }
}

textarea {
  resize: none !important;
}

.overflow_fix {
  overflow: hidden !important;
}
