.--svg__arrow,.--svg__arrow-before::before,.--svg__arrow-after::after{
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='14' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.--svg__arrow-before::before {
    content:'';
}
.--svg__arrow-after::after {
    content:'';
}
.--svg__logo,.--svg__logo-before::before,.--svg__logo-after::after{
    background-image: url("../img/logo.svg");
}
.--svg__logo-before::before {
    content:'';
}
.--svg__logo-after::after {
    content:'';
}